.produitSM {
    position: relative;
    overflow: hidden;
    margin: 15px;
    border: 1px solid #eee;
    border-radius: 5px 0 0 0;
}

.produitSM__img { border-radius: 5px; }

.produitSM p { margin: .5em 0; padding: 0 15px; }

.produitSM__links {
    text-align: center;
}
