@import 'colomanie.less';

// mixins perso
.tbordure(@distance) {
    text-shadow:
         @distance 0 #000,
        -@distance 0 #000,
        0  @distance #000,
        0 -@distance #000;
}

// CLASSES UTILITAIRES
.block { display: block; }
.inline-block { display: inline-block; }

.sep-standard {
  border: 0;
  padding: 0;
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background-color: @noir;
}

.valign {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.msg-retour {
  color: red;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.pseudolink {
  cursor: pointer;
}

.js-toggle {
  cursor: pointer;
}

.toggle-display:not(.active) {
  display: none;
}

.paddingX { padding-left: 15px; padding-right: 15px; }
.paddingY { padding-top: 15px; padding-bottom: 15px; }

// typographie
.regular   { font-family: @default-font, sans-serif; }
.condensed { font-family: @default-font-condensed, sans-serif; }
.light { font-weight: 300; }
.bold  { font-weight: 700; }

.uppercase { text-transform: uppercase; }

.tleft { text-align: left; }
.tright { text-align: right; }
.tcenter { text-align: center; }
.tjustify { text-align: justify; }

// police
@default-font: 'Open Sans';
@default-font-condensed: 'Open Sans Condensed';

// couleurs
@blanc: #fff;
@noir: #222;

    // bleu
    @clr01-dark: #1d365d;
    @clr01-medium: #9CABCA;

    // gris
    @clr02-light: #f8f8f8;
    @clr02-medium: #e7e7e7;

    // marron
    @clr03-light: #F6F0E4;

//==============================================================================
// INITIALISATION
//==============================================================================

html { font-size: 16px; }
body {
  font-family: @default-font, sans-serif;
  background-color: @clr02-light;
}

a {
    color: @noir;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}


@import '_bouton.less';

@import '_table.less';

@import '_form.less';

@import '_debug.less';

@import '_guestbook.less';

//==============================================================================
// HEADER PRINCIPAL
//==============================================================================

.main-header {
    .pdY(30px);
    background-color: @clr01-dark;
    &, a { color: @blanc; }

    @media (max-width: @xs-max) {
      text-align: center;
    }
}

.quick-access {
    margin-bottom: 15px;

    @media (min-width: @sm-min) {
      text-align: right;
    }
}

.logo .majeur {
    font-size: 60px;
    font-weight: 700;
    .tbordure(1px)
}

//==============================================================================
// MENU PRINCIPAL
//==============================================================================

.main-menu {
    background-color: @clr02-light;
    border-bottom: 1px solid @clr02-medium;
    color: @noir;

    ul, li { margin: 0; padding: 0; }

    .menu-item {
        list-style-type: none;
        display: inline-block;
        margin-right: 30px;
        .pdY(15px);

        @media (min-width: @sm-min) {
          margin-right: 15px;
        }

        @media (max-width: @xs-max) {
          display: list-item;
          margin-left: 30px;
          .pdY(5px);
          &:first-child { padding-top: 15px; }
        }
    }

    .menu-item:hover i,
    .current-menu-item i { color: @clr01-dark; }

    a { text-transform: uppercase; }
}

.main-menu .ctn { position: relative; }


// menu d'aministration pour l'utilisateur admin
.sub-menu {
  text-align: center;

  @media (min-width: @sm-min) {
    position: absolute;
    top: -100%;
    right: 0;
    text-align: right;
  }

  @media (min-width: @md-min) {
    top: 0;
  }

  .displayer {
    .bouton();
  }

  .admin-menu {
    display: none;
    &.active { display: block; }

    position: relative;
    z-index: 10;
    margin-top: 10px;
    background-color: @clr02-light;
    border: 1px solid @clr02-medium;
  }

  .menu-item {
    display: block;
    margin: 0;
    padding: 10px 10px 0 10px;
  }

  .menu-item:last-child {
    padding-bottom: 10px;
  }

  a { text-transform: none; }
}

//==============================================================================
// CONTENU PRINCIPAL
//==============================================================================

.main-content {
    min-height: 400px;
    .pdY(30px);
    background-color: #fff;

    a { color: @clr01-dark; }
}

@import '_gestionsalles.less';
@import '_produitSM.less';

#ajouter-produit {
  display: none;
  &.active { display: block; }
}

.table.panier .img-responsive {
  max-width: 200px;
  margin: auto;
}

.gestioncommandes.pseudolink.active {
  font-size: 0;
}
.gestioncommandes.pseudolink.active:after {
  font-size: 1rem;
  content: "Masquer";
}

.produit {
  border: 1px solid @clr02-medium;
  border-radius: 8px;
}


//==============================================================================
// FOOTER PRINCIPAL
//==============================================================================

.main-footer {
    .pdY(15px);
    border-top: 1px solid @clr02-medium;

    @media (min-width: @sm-min) {
      text-align: center;

      ul, li { margin: 0; padding: 0; }
      li { display: inline; list-style-type: none; }
      li:not(:last-child):after { content: " | "; }
    }
}
