#
# Ce .htaccess est à placer dans le répertoire public/ (au même niveau que index.php)
#

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le projet est dans un sous-dossier du hostname, décommenter la ligne suivante
    # en changeant /path/to/lokisalle par votre chemin depuis le hostname
    # (ne pas oublier le slash de début et de fin)
    
    #RewriteBase /path/to/lokisalle/

    # Exceptions à la règle de réécriture: si on demande un fichier existant
    RewriteCond %{REQUEST_FILENAME} !-f

    # Réécriture de toutes les autres requêtes
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>