<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le projet est dans un sous-dossier du hostname, l'indiquer ici
    RewriteBase /lokisalle/

    # Exceptions à la règle de réécriture
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Réécriture
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>